
body {
    background-color: rgb(57, 57, 183);
    font-size: 20px;
    font-family:monospace;
    padding: 2px;

}

h1 {
    color:rgb(231, 167, 46);
    font-size: 40px;
    padding: 3px;
    
}

h2 {
    color: rgb(249, 183, 60);
    font-size: 30px;
    
    
    
    
}

h3 {
    color:rgb(249, 183, 60);
    
}

ul{
    color: white;
}

p {
    color: rgb(176, 175, 175);
    font-size: 20px;
    padding: 1px;
    text-align: justify;
    font-family:sans-serif

}